*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
}



































/* 
#page1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: lightblue;
}
#page2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(51, 191, 238);
}
#page3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(16, 128, 188);
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: crimson;
} */
/* h1{
    font-size: 40px;
    background-color: brown;
    color: white;
    padding: 10px;
}
h2{
    font-size: 40px;
    background-color:chocolate;
    color: white;
    padding: 10px;

} */